html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font size in rem */
body{
    font-size: 62.5%;
}

/* file di prodotti */
.prima-linea{
    text-align: center;
    margin-top: 3rem;
}
.seconda-linea{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

/* style generici */
.prodotto{
    width: 13rem;
    height: 15rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.prodotto > .sconto{
    width: 1.6rem;
    height: .7rem;
    padding: .3rem;
    font-size: .7rem;
    position: absolute;
    right: 1rem;
    top: 0;
}

.cuore{
    font-size: .1rem;
    position: absolute;
}

/* style specifici */
.tablet{
    background-image: url(./pd1.jpg);
}

.smartphone{
    background-image: url(./pd2.jpg);
}

.cuffie{
    background-image: url(./pd3.jpg);
}

.sconto__tablet, .sconto__cuffie{
    background-color: green;
}

.sconto__smartphone{
    background-color: red;
}

/* style hover */
.prodotto:hover >.cuore{
    font-size: 2rem;
    position: absolute;
    bottom: .25rem;
    left: 40%;
    color: red;
}

.prodotto:hover{
    width: 13.3rem;
    height: 15.3rem;
}